<section class="form__container">
    <form class="form">
        <input type="text" class="form__input">
        <button class="form__btn">+ADD</button>
    </form>
</section>
<section class="categorias">
    <ul>
        <li class="categoria__item">
            <span class="categoria__title">Categoria</span>
            <button class="categoria__btn btn__editar"><i class='bx bxs-edit-alt' ></i> Editar</button>
            <button class="categoria__btn btn__eliminar"><i class='bx bxs-trash'></i> Eliminar</button>
        </li>
        <li class="categoria__item">
            <span class="categoria__title">Categoria</span>
            <button class="categoria__btn btn__editar"><i class='bx bxs-edit-alt' ></i> Editar</button>
            <button class="categoria__btn btn__eliminar"><i class='bx bxs-trash'></i> Eliminar</button>
        </li>
        <li class="categoria__item">
            <span class="categoria__title">Categoria</span>
            <button class="categoria__btn btn__editar"><i class='bx bxs-edit-alt' ></i> Editar</button>
            <button class="categoria__btn btn__eliminar"><i class='bx bxs-trash'></i> Eliminar</button>
        </li>
        <li class="categoria__item">
            <span class="categoria__title">Categoria</span>
            <button class="categoria__btn btn__editar"><i class='bx bxs-edit-alt' ></i> Editar</button>
            <button class="categoria__btn btn__eliminar"><i class='bx bxs-trash'></i> Eliminar</button>
        </li>
    </ul>
</section>