.categoria{
    border: 1px solid rgba(124, 142, 252, 0.3);
    min-width: 160px;
    height: 100px;
    border-radius: 0.5rem;
    display: grid;
    place-content: center;
}

.categoria__total{
    text-align: center;
}