<header class="header">
    <h1 class="header__logo">Gastos</h1>
    <form class="header__form">
        <input class="header__input" type="text" placeholder="Catidad $">
        <button class="header__btn">+ADD</button>
    </form>
    <nav class="nav">
        <ul class="nav__list">
            <li><a class="nav__link active" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="nav__link" routerLink="/categorias" routerLinkActive="active">Categorias</a></li>
        </ul>
    </nav>
</header>