<header class="header">
    <h1 class="header__logo">Compras</h1>
    <form class="header__form" (ngSubmit)="agregarPresupuesto()" (dblclick)="editarPresupuesto()">
        
        <span class="header__dolar">$</span>
        <input class="header__input" 
                type="number"
                min="1"
                placeholder="Presupuesto"
                name="presupuesto" 
                [(ngModel)]="presupuesto"
                [disabled]="inputInactive">

        <input type="submit" class="header__btn" 
                [ngClass]="{'btn-presupuesto': !inputInactive}" 
                value="+ADD" [disabled]="inputInactive">
    </form>
    <nav class="nav">
        <ul class="nav__list">
            <li><a class="nav__link" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="nav__link" routerLink="/categorias" routerLinkActive="active">Categorias</a></li>
        </ul>
    </nav>
</header>

<!-- <input [ngModel]="item.value | useMyPipeToFormatThatValue" 
      (ngModelChange)="item.value=$event" name="inputField" type="text" /> -->