<section>
    <table class="table">
        <thead>
            <tr>
                <th>Concepto</th>
                <th>Categoria</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compra of compras; let idx = index">
                <td>{{ compra.concepto }}</td>
                <td>{{ compra.categoria }}</td>
                <td>{{ compra.costo | currency }}</td>
                <div class="eliminar__compra">
                    <span class="eliminar__icon" (click)="eliminarCompra(compra, idx)">X</span>
                </div>
            </tr>
        </tbody>
    </table>
</section>
