/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --bg-color: #EEF0FF;
    --primary: #7C8EFC;
    --primary-50: #abb2dd;
    --secondary: #30d3bd;
    --black-100: #333333;
    --black-85: #4d4d4d;
    --black-75: #7c7c7c;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3{
    margin: 0;
}


/* References */
/* https://dribbble.com/shots/16351050-Daily-UI-Design-Challenge-Day-34-Weather */
/* https://dribbble.com/shots/16168023-Daily-UI-Design-Challenge-Day-22-Search */