.form__container{
    margin-bottom: 3rem;
    height: 400px;
    background: url('/assets/img/bg-home.jpg');
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    place-content: center;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(124, 142, 252, 0.2);
}
.form{
    display: flex;
    gap: 2rem;
}
.form__concepto{
    margin-right: 1rem;
    width: 300px;
}
.form__costo{
    width: 4rem;
}
.form__input{
    border: 1px solid rgba(124, 142, 252, 0.3);
    padding: 1rem;
    font-weight: 600;
    color: var(--black-85);
    width: 100%;
    border-radius: 0.5rem;
}
.form__input:focus{
    outline: 2px solid var(--primary);
}

input[type='submit']{
    display: none;
}